.hm-homePage .find-goods .consult {
  width: 240px;
  height: 386px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: -408px;
}

.hm-homePage .find-goods .consult .topTitle {
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 18px;
  /*font-weight: bold;*/
  margin-top: 20px;
}

.hm-homePage .find-goods .consult .topTitle span {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  background: #ff6b00;
  width: 3px;
  height: 16px;
}

.hm-homePage .find-goods .consult .form-submit {
  padding: 0 20px;
}

.hm-homePage .find-goods .consult .form-submit textarea {
  margin: 10px 0;
  border: 1px solid #dddddd;
  width: 188px;
  height: 78px;
  padding: 5px;
  border-radius: 10px;
}

.hm-homePage .find-goods .consult .form-submit img {
  width: 40px;
  height: 30px;
  margin-left: 10px;
}

.hm-homePage .find-goods .consult .form-submit input[type=text] {
  border-radius: 0;
  float: right;
}

.hm-homePage .find-goods .consult .form-submit label.form-prompt {
  position: absolute;
  left: 0;
  bottom: -5px;
}

.hm-homePage .find-goods .consult .findPur {
  width: 200px;
  height: 34px;
  margin: 0 auto;
}

.priceQuotes-content .tabBar {
  width: 698px;
  height: 330px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.priceQuotes-content .tabBar-item {
  height: 50px;
  background-color: #eee;
}

.priceQuotes-content .tabBar-item-unit {
  display: inline-block;
  padding: 0 20px 0 30px;
  line-height: 50px;
  color: #333;
  font-weight: bold;
}

.priceQuotes-content .tabBar-item-unit-current, .priceQuotes-content .tabBar-item-unit:hover {
  color: #009833;
}

.priceQuotes-content .tabBar-content-unit li {
  float: left;
  overflow: hidden;
  width: 349px;
  height: 93px;
  border-bottom: 1px solid #ccc;
}

.priceQuotes-content .tabBar-content-unit li.odd {
  width: 348px;
  border-right: 1px solid #ccc;
}

.priceQuotes-content .tabBar-content-unit li.last {
  border-bottom: 0;
}

.priceQuotes-content .tabBar-content-unit li .info {
  padding: 10px 38px 0 20px;
  line-height: 36px;
  font-size: 16px;
}

.priceQuotes-content .tabBar-content-unit li .info span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.priceQuotes-content .tabBar-content-unit li .info h3 {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  padding-right: 40px;
}

.priceQuotes-content .tabBar-content-unit li .info h3 .time {
  position: absolute;
  right: 0;
  top: 0;
}

.priceQuotes-content .tabBar-content-unit li .info p .priceKey, .priceQuotes-content .tabBar-content-unit li .info p .priceVal {
  color: #666;
}

.priceQuotes-content .tabBar-content-unit li .info p .priceVal {
  width: 120px;
}

.priceQuotes-content .tabBar-content-unit li .info p .rise {
  width: 75px;
  float: right;
}

.priceQuotes-content .tabBar-content-unit li .info p .riseRatio {
  width: 50px;
  text-align: center;
  float: right;
}

.priceQuotes-content .tabBar-content-unit li .info p .up {
  color: #ff5a62;
}

.priceQuotes-content .tabBar-content-unit li .info p .down {
  color: #24bd64;
}

.priceQuotes-content .chart {
  position: relative;
  width: 478px;
  height: 330px;
  border: 1px solid #ccc;
}

.priceQuotes-content .chart .g-row {
  position: relative;
  z-index: 9;
}

.priceQuotes-content .chart-map {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 458px;
  height: 310px;
}
